= link:pip.html[Pip] / Requirements =
:title: [Pip] Requirements

Pip 大量地被應用在 link:../virtualenv/virtualenv.html[virtualenv] 裡，尤其透過 requirement files 可以快速度在不同 virtual environments 之間複製 dependencies。

== 參考資料 ==

 * http://www.pip-installer.org/en/latest/requirements.html[Requirements files — pip documentation]

