/* Shared CSS for AsciiDoc xhtml11 and html5 backends */

/* Default font. */
div#asciidoc, div#asciidoc th, div#asciidoc td {
  font-family: Verdana,Georgia,serif;
  font-size: small;
}

/* Title font. */
#asciidoc h1, #asciidoc h2, #asciidoc h3, #asciidoc h4, #asciidoc h5, #asciidoc h6,
#asciidoc div.title, #asciidoc caption.title,
#asciidoc thead, #asciidoc p.table.header,
#asciidoc #toctitle,
#asciidoc #author, #asciidoc #revnumber, #asciidoc #revdate, #asciidoc #revremark,
#asciidoc #footer {
  font-family: Arial,Helvetica,sans-serif;
}

div#asciidoc {
  margin: 1em;
}

#asciidoc a {
  color: blue;
  text-decoration: underline;
}
#asciidoc a:visited {
  color: fuchsia;
}

#asciidoc em {
  font-style: italic;
  color: navy;
}

#asciidoc strong {
  font-weight: bold;
  color: #083194;
}

#asciidoc h1, #asciidoc h2, #asciidoc h3, #asciidoc h4, #asciidoc h5, #asciidoc h6 {
  color: #527bbd;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  line-height: 1.3;
}

#asciidoc h1, #asciidoc h2, #asciidoc h3 {
  border-bottom: 2px solid silver;
}
#asciidoc h2 {
  padding-top: 0.5em;
}
/**
#asciidoc h3 {
  clear: left;
}
#asciidoc h3 + * {
  clear: left;
}
**/
#asciidoc h5 {
  font-size: 1.0em;
}

#asciidoc div.sectionbody {
  margin-left: 0;
}

#asciidoc hr {
  border: 1px solid silver;
}

#asciidoc p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#asciidoc ul, #asciidoc ol, #asciidoc li > p {
  margin-top: 0;
}
ul > li     { color: #aaa; }
ul > li > * { color: black; }

#asciidoc pre {
  padding: 0;
  margin: 0;
}

#asciidoc #author {
  color: #527bbd;
  font-weight: bold;
  font-size: 1.1em;
}
#asciidoc #email {
}
#asciidoc #revnumber, #asciidoc #revdate, #asciidoc #revremark {
}

#asciidoc #footer {
  font-size: small;
  border-top: 2px solid silver;
  padding-top: 0.5em;
  margin-top: 4.0em;
}
#asciidoc #footer-text {
  float: left;
  padding-bottom: 0.5em;
}
#asciidoc #footer-badges {
  float: right;
  padding-bottom: 0.5em;
}

#asciidoc #preamble {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
#asciidoc div.imageblock, #asciidoc div.exampleblock, #asciidoc div.verseblock,
#asciidoc div.quoteblock, #asciidoc div.literalblock, #asciidoc div.listingblock, #asciidoc div.sidebarblock,
#asciidoc div.admonitionblock {
  margin-top: 1.0em;
  margin-bottom: 1.5em;
}
#asciidoc div.admonitionblock {
  margin-top: 2.0em;
  margin-bottom: 2.0em;
  margin-right: 10%;
  color: #606060;
}

#asciidoc div.content { /* Block element content. */
  padding: 0;
}

/* Block element titles. */
#asciidoc div.title, #asciidoc caption.title {
  color: #527bbd;
  font-weight: bold;
  text-align: left;
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}
#asciidoc div.title + * {
  margin-top: 0;
}

#asciidoc td div.title:first-child {
  margin-top: 0.0em;
}
#asciidoc div.content div.title:first-child {
  margin-top: 0.0em;
}
#asciidoc div.content + div.title {
  margin-top: 0.0em;
}

#asciidoc div.sidebarblock > div.content {
  background: #ffffee;
  border: 1px solid #dddddd;
  border-left: 4px solid #f0f0f0;
  padding: 0.5em;
}

#asciidoc div.listingblock > div.content {
  border: 1px solid #dddddd;
  border-left: 5px solid #f0f0f0;
  background: #f8f8f8;
  padding: 0.5em;
}

#asciidoc div.quoteblock, #asciidoc div.verseblock {
  padding-left: 1.0em;
  margin-left: 1.0em;
  margin-right: 10%;
  border-left: 5px solid #f0f0f0;
  color: #888;
}

#asciidoc div.quoteblock > div.attribution {
  padding-top: 0.5em;
  text-align: right;
}

#asciidoc div.verseblock > pre.content {
  font-family: inherit;
  font-size: inherit;
}
#asciidoc div.verseblock > div.attribution {
  padding-top: 0.75em;
  text-align: left;
}
/* DEPRECATED: Pre version 8.2.7 verse style literal block. */
#asciidoc div.verseblock + div.attribution {
  text-align: left;
}

#asciidoc div.admonitionblock .icon {
  vertical-align: top;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
  color: #527bbd;
  padding-right: 0.5em;
}
#asciidoc div.admonitionblock td.content {
  padding-left: 0.5em;
  border-left: 3px solid #dddddd;
}

#asciidoc div.exampleblock > div.content {
  border-left: 3px solid #dddddd;
  padding-left: 0.5em;
}

#asciidoc div.imageblock div.content { padding-left: 0; }
span.image img { border-style: none; }
a.image:visited { color: white; }

#asciidoc dl {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
#asciidoc dt {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-style: normal;
  color: navy;
}
#asciidoc dd > *:first-child {
  margin-top: 0.1em;
}

#asciidoc ul, #asciidoc ol {
    list-style-position: outside;
}
#asciidoc ol.arabic {
  list-style-type: decimal;
}
#asciidoc ol.loweralpha {
  list-style-type: lower-alpha;
}
#asciidoc ol.upperalpha {
  list-style-type: upper-alpha;
}
#asciidoc ol.lowerroman {
  list-style-type: lower-roman;
}
#asciidoc ol.upperroman {
  list-style-type: upper-roman;
}

#asciidoc div.compact ul, #asciidoc div.compact ol,
#asciidoc div.compact p, #asciidoc div.compact p,
#asciidoc div.compact div, #asciidoc div.compact div {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

#asciidoc tfoot {
  font-weight: bold;
}
#asciidoc td > div.verse {
  white-space: pre;
}

#asciidoc div.hdlist {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
#asciidoc div.hdlist tr {
  padding-bottom: 15px;
}
#asciidoc dt.hdlist1.strong, #asciidoc td.hdlist1.strong {
  font-weight: bold;
}
#asciidoc td.hdlist1 {
  vertical-align: top;
  font-style: normal;
  padding-right: 0.8em;
  color: navy;
}
#asciidoc td.hdlist2 {
  vertical-align: top;
}
#asciidoc div.hdlist.compact tr {
  margin: 0;
  padding-bottom: 0;
}

#asciidoc .comment {
  background: yellow;
}

#asciidoc .footnote, #asciidoc .footnoteref {
  font-size: 0.8em;
}

#asciidoc span.footnote, #asciidoc span.footnoteref {
  vertical-align: super;
}

#asciidoc #footnotes {
  margin: 20px 0 20px 0;
  padding: 7px 0 0 0;
}

#asciidoc #footnotes div.footnote {
  margin: 0 0 5px 0;
}

#asciidoc #footnotes hr {
  border: none;
  border-top: 1px solid silver;
  height: 1px;
  text-align: left;
  margin-left: 0;
  width: 20%;
  min-width: 100px;
}

#asciidoc div.colist td {
  padding-right: 0.5em;
  padding-bottom: 0.3em;
  vertical-align: top;
}
#asciidoc div.colist td img {
  margin-top: 0.3em;
}

@media print {
  #asciidoc #footer-badges { display: none; }
}

#asciidoc #toc {
  margin-bottom: 2.5em;
}

#asciidoc #toctitle {
  color: #527bbd;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1.0em;
  margin-bottom: 0.1em;
}

#asciidoc div.toclevel1, #asciidoc div.toclevel2, #asciidoc div.toclevel3, #asciidoc div.toclevel4 {
  margin-top: 0;
  margin-bottom: 0;
}
#asciidoc div.toclevel2 {
  margin-left: 2em;
  font-size: 0.9em;
}
#asciidoc div.toclevel3 {
  margin-left: 4em;
  font-size: 0.9em;
}
#asciidoc div.toclevel4 {
  margin-left: 6em;
  font-size: 0.9em;
}

#asciidoc span.aqua { color: aqua; }
#asciidoc span.black { color: black; }
#asciidoc span.blue { color: blue; }
#asciidoc span.fuchsia { color: fuchsia; }
#asciidoc span.gray { color: gray; }
#asciidoc span.green { color: green; }
#asciidoc span.lime { color: lime; }
#asciidoc span.maroon { color: maroon; }
#asciidoc span.navy { color: navy; }
#asciidoc span.olive { color: olive; }
#asciidoc span.purple { color: purple; }
#asciidoc span.red { color: red; }
#asciidoc span.silver { color: silver; }
#asciidoc span.teal { color: teal; }
#asciidoc span.white { color: white; }
#asciidoc span.yellow { color: yellow; }

#asciidoc span.aqua-background { background: aqua; }
#asciidoc span.black-background { background: black; }
#asciidoc span.blue-background { background: blue; }
#asciidoc span.fuchsia-background { background: fuchsia; }
#asciidoc span.gray-background { background: gray; }
#asciidoc span.green-background { background: green; }
#asciidoc span.lime-background { background: lime; }
#asciidoc span.maroon-background { background: maroon; }
#asciidoc span.navy-background { background: navy; }
#asciidoc span.olive-background { background: olive; }
#asciidoc span.purple-background { background: purple; }
#asciidoc span.red-background { background: red; }
#asciidoc span.silver-background { background: silver; }
#asciidoc span.teal-background { background: teal; }
#asciidoc span.white-background { background: white; }
#asciidoc span.yellow-background { background: yellow; }

#asciidoc span.big { font-size: 2em; }
#asciidoc span.small { font-size: 0.6em; }

#asciidoc span.underline { text-decoration: underline; }
#asciidoc span.overline { text-decoration: overline; }
#asciidoc span.line-through { text-decoration: line-through; }


/*
 * xhtml11 specific
 *
 * */

#asciidoc tt {
  font-family: monospace;
  font-size: inherit;
  color: navy;
}

#asciidoc div.tableblock {
  margin-top: 1.0em;
  margin-bottom: 1.5em;
}
#asciidoc div.tableblock > table {
  border: 3px solid #527bbd;
}
#asciidoc thead, #asciidoc p.table.header {
  font-weight: bold;
  color: #527bbd;
}
#asciidoc p.table {
  margin-top: 0;
}
/* Because the table frame attribute is overriden by CSS in most browsers. */
#asciidoc div.tableblock > table[frame="void"] {
  border-style: none;
}
#asciidoc div.tableblock > table[frame="hsides"] {
  border-left-style: none;
  border-right-style: none;
}
#asciidoc div.tableblock > table[frame="vsides"] {
  border-top-style: none;
  border-bottom-style: none;
}


/*
 * html5 specific
 *
 * */

#asciidoc .monospaced {
  font-family: monospace;
  font-size: inherit;
  color: navy;
}

#asciidoc table.tableblock {
  margin-top: 1.0em;
  margin-bottom: 1.5em;
}
#asciidoc thead, #asciidoc p.tableblock.header {
  font-weight: bold;
  color: #527bbd;
}
#asciidoc p.tableblock {
  margin-top: 0;
}
#asciidoc table.tableblock {
  border-width: 3px;
  border-spacing: 0px;
  border-style: solid;
  border-color: #527bbd;
  border-collapse: collapse;
}
#asciidoc th.tableblock, #asciidoc td.tableblock {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: #527bbd;
}

#asciidoc table.tableblock.frame-topbot {
  border-left-style: hidden;
  border-right-style: hidden;
}
#asciidoc table.tableblock.frame-sides {
  border-top-style: hidden;
  border-bottom-style: hidden;
}
#asciidoc table.tableblock.frame-none {
  border-style: hidden;
}

#asciidoc th.tableblock.halign-left, #asciidoc td.tableblock.halign-left {
  text-align: left;
}
#asciidoc th.tableblock.halign-center, #asciidoc td.tableblock.halign-center {
  text-align: center;
}
#asciidoc th.tableblock.halign-right, #asciidoc td.tableblock.halign-right {
  text-align: right;
}

#asciidoc th.tableblock.valign-top, #asciidoc td.tableblock.valign-top {
  vertical-align: top;
}
#asciidoc th.tableblock.valign-middle, #asciidoc td.tableblock.valign-middle {
  vertical-align: middle;
}
#asciidoc th.tableblock.valign-bottom, #asciidoc td.tableblock.valign-bottom {
  vertical-align: bottom;
}

